/* body style  */
body{
    max-width: 1440px; 
    margin: 0 auto;
    background-color: #F5F8FF;
}
.raleway_font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* share style   */
    .btn_share{
    border-radius: 10px;
    background-color: #4E47FF;
    color: #FFFFFF;
    font-weight: bold;
    }
    .btn_share:hover{
        cursor: pointer;
        background-color: #ceaf21;
        color: #000;
        border: 2px solid blueviolet;
        
    }

/* header section  */
header{
    background-image: url(../Assets/Hero-bg.png);
    height: 698px;
    margin: 0 auto;
}
.logo{
    width: 1140px;
    height: 151px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.logo h2{
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
    margin-top: 50px;
}
.logo button{
    padding: 15px;
    width: 132px;
    height: 48px;
    margin-top: 51px;
    
}
.drak_ui{
    font-size: 36px;
    font-weight: bold;
    width: 905px;
    height: 237px;
    margin: 0 auto;
    text-align: center;
}
.stay_focused{
    width: 174px;
    height: 48px;
    margin: 0 auto;

}
/* main sectaion style  */
.launch_live{
    width: 1140px;
    height: 328px;
    display: flex;
    justify-content: space-between;
    margin: 116px auto;
}
.preview{
    width: 517px;
    height: 203px;
}
.preview h3{
    font-size: 40px;
    font-weight: bold;
    color: #252432;
}
.preview p{
    font-size: 24px;
    color: #252432;
}
.preview button{
    width: 229px;
    height: 48px;
}
.webflow_conf img{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}
/*  joined Thousands of Productive Users section   */
.user_section{
    display: flex;
   justify-content: space-between;
   width: 856px;
    height: 206px;
   margin: 0 auto;
    line-height: 0%;
    font-family: none;
}
.joined_thousands h5{
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    line-height: 0%;
    
    
   

}
.joined_thousands{
    background-color:  #dbdbf1;
   padding: 1px 70px;
    height: 311px;
    width: 1019px;
    margin: 0 auto;
    border-radius: 24px;
}
.fixd{
    width: 856px;
    height: 206px;
}
.user{
    font-size: 80px;
    color: #4E47FF;
}
.active_user p{
    font-size: 20px;
    color: #000000;
}
/* user say section style  */
  .Loved{
    display: flex;
    width: 1160px;
   
    margin: 0 auto;
  }
  .avatar_img{
    width: 40px;
    height: 40px;
    border-radius: 9999px;
    display: flex;
  }
  .Designers{
    display: flex;
  }
  .revew{
    line-height: 0;
  }
  .Reviewer_name{
    line-height: 0;
    margin-left: 10px;
  }

    .user_say{
        text-align: center;
        margin-top: 116px;
    }
    .user_say h2{
        font-size: 42px;
        font-weight: bold;
        color: #252432;
    }
    .date{
       padding: 33px;
       border-radius: 14px;
        margin: 10px;
        background-color: #FFFFFF;
    }
    .active_user{

    }

    /* Ready to say better section  */
        .focus_better{
            width: 1140px;
            height: 700px;
            margin: 0 auto;
            text-align: center;
             background-color: #FFFFFF;
             margin-top: 104px;
    }
        .focus_better h2{
            font-size: 50px;
            font-weight: bold;
            width: 516px;
            margin: 0 auto;
            height: 60px;
            padding-top: 71px;
        }
          .focus_better p{
            width: 487px;
            height: 22px;
            margin: 0 auto;
            padding-top: 24px;
            padding-bottom: 14px;
          }
          .focus_better img{
            width: 840px;
            height: 364px;
            padding-top: 23px;
            border-radius: 48px;
          }
          .gar_stared{
            width: 195px;
            height: 48px;
          }
  
  /* lets get section  */
  .from{
    width: 1140px;
    height: 632px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 127px;
   }
   .lets{
    font-size: 97px;
    font-weight: bold;
    
    width: 528px;
    height: 232px;
    margin-top: 97px;
   } 
   .user_from{
    width: 497px;
    height: 490px;
    padding: 25px;
    

   }
   .user_from label{
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    margin: 10px;
   
   }
   .user_from input{
    width: 443px;
    padding: 24px;
    border-radius: 10px;
    border: none;
    margin: 10px;
     
   
   }
   .user_from textarea{
    border-radius: 10px;
    padding: 12px;
    margin-left: 12px;
    margin-top: 12px;
   }
   .massge_btn{
    width: 497px;
    height: 62px;
    margin-top: 10px;
    margin-left: 13px;
   }
   
   
  /* fotter secation */
  footer{
    
    height: 428px;
    background-color: #FFFFFF;
  }
.fotter_section h1{
    width: 322px;
    margin: 0 auto;
    font-size: 100px;
    font-weight: bolder;
    color: #4E47FF;
    
}
.fotter_section{
     padding: 95px 433px;
}
.fotter_section p{
    width: 531px;
    margin: 0 auto;
    color: #8987A1;
    padding-top: 12px;
   
}
.fotter_link{
    width: 513px;
   margin: 0 auto;
   padding-top: 25px;
}
.fotter_link a{
    color: #8987A1;
    margin: 26px;
    text-decoration: none;
    text-align: center;
     width: 401px;
}
